/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 16px;
}

body {
    background: #f171a1;
    color: #f1ebf5;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1170px;
}

/* DesireBasic Font */

@font-face {
    font-family: 'DesireBasic';
    src: url('../fonts/desirebasic-webfont.eot');
    src: url('../fonts/desirebasic-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/desirebasic-webfont.woff2') format('woff2'),
            url('../fonts/desirebasic-webfont.woff') format('woff'),
            url('../fonts/desirebasic-webfont.ttf') format('truetype'),
            url('../fonts/desirebasic-webfont.svg#desirebasic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Cabrito Font */

@font-face {
    font-family: 'Cabrito';
    src: url('../fonts/cabritodidonenormregular-webfont.eot');
    src: url('../fonts/cabritodidonenormregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabritodidonenormregular-webfont.woff2') format('woff2'),
         url('../fonts/cabritodidonenormregular-webfont.woff') format('woff'),
         url('../fonts/cabritodidonenormregular-webfont.ttf') format('truetype'),
         url('../fonts/cabritodidonenormregular-webfont.svg#cabrito_didonenorm_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Roboto Font */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;
}

/* Headings */

h1,
h2 {
    font-family: 'DesireBasic', Arial, Helvetica, sans-serif;
}

h3,
h4,
h5,
h6 {
    font-family: 'Cabrito', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

/* Anchor */

a {
    color: #f1ebf5;
    font-size: 16px;
    text-decoration: none;
    transition: color .3s ease, background .3s ease, border .3s ease;
    -webkit-transition: color .3s ease, background .3s ease, border .3s ease;
    -moz-transition: color .3s ease, background .3s ease, border .3s ease;
    -ms-transition: color .3s ease, background .3s ease, border .3s ease;
    -o-transition: color .3s ease, background .3s ease, border .3s ease;
}

a:hover,
a:active,
a:focus {
    color: #f1ebf5;
    text-decoration: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Menu Primary
   ========================================================================== */

#menu-primary {
    margin-top: 10px;
}

#menu-primary ul {
    margin: 0;
    padding: 0;
}

#menu-primary ul li {
    display: inline-block;
}

#menu-primary ul li:last-child {
    margin-right: 0;
}

#menu-primary li a {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#menu-primary li a:hover,
#menu-primary li a:active,
#menu-primary li a:focus,
#menu-primary li.active a {
    background: #e64298;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Defaults */

.parallax-bg {
    height: 550px;
    background: url('../images/image-6.jpg') no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
}

.entry-title.border-lr:before,
.entry-title.border-lr:after {
    content: '';
    display: inline-block;
    width: 20%;
    border-bottom: 2px solid #a1c2d1;
    vertical-align: 20px;
}

.entry-title.border-lr:before {
    margin-right: 25px;
}

.entry-title.border-lr:after {
    margin-left: 25px;
}

.default-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 15px 30px;
    background: #e64298;
    border-bottom: 5px solid #f171a1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.default-btn:hover,
.default-btn:active,
.default-btn:focus {
    background: #f171a1;
    border-bottom: 5px solid #e64298;
}

/* Header */

#header {
    padding: 25px 0;
    background: #f171a1;
}

#header #branding #default-logo {
    font-size: 30px;
}

/* Home Page */

#home-page #home-banner {
    height: auto;
    padding: 12em 0;
    background: url('../images/image-2.jpg') no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

#home-page #home-banner #banner .entry-desc {
    margin: 25px 0;
    font-family: 'Cabrito', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Footer */

#footer {
    overflow: hidden;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::after,
#header::after,
#slider::after,
#content::after,
#footer::after {
	content:    ".";
	display:    block;
	height:     0;
	clear:      both;
	visibility: hidden;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
