.foods {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    background: #f0f0f0;
}
.foods .entry-header {
    margin: 0 auto 25px;
}
.entry-header {
    text-align: center;
}

.da-thumbs {
    width: 100%;
    overflow: initial;
    position: relative;
    padding: 0;
}

.da-thumbs .row {
    /* padding: 0; */
}

.da-thumbs .gallery-item a {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.da-thumbs .service-desc,
.da-thumbs .package-desc {
    display: none;
    color: #ffffff;
    background: rgba(0,0,0,0.7);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 35% 20px;
    z-index: 10;
    position: absolute;
    top: 0;
}
.da-thumbs .package-desc {
    padding: 100% !important;
}

.da-thumbs img {
    width: 100%;
}

.da-thumbs a:hover .service-desc,
.da-thumbs a:hover .package-desc {
    display: block;
    z-index: 10;
}

.da-thumbs .gallery-wrap {
    padding: 0 8px;
}

.da-thumbs .gallery-item {
    width: 100%;
    float: left;
    margin: 5px 0;
    background: #fff;
    padding: 8px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs .gallery-item a {
    overflow: hidden;
}
.da-thumbs .gallery-item a, .da-thumbs .gallery-item a img {
    display: block;
    position: relative;
}   

/*
Reservation
*/
.reservation-content {
    height: 350px;
    padding: 20px 10px;
    margin-bottom: 25px;
    background-color: #E0E0E0;
}
.reservation-desc {
    padding: 0 10px;
}
.reservation-details ul {
    list-style: none;
    padding: 0;
}
.reservation-details ul li:first-child:before,
.reservation-details ul li:nth-child(2):before,
.reservation-details ul li:last-child:before{
    font-family: FontAwesome;
    content: '\f0c8';
    font-size: 25px;
    padding-right: 8px;
    vertical-align: middle;
}
.reservation-details ul li:first-child:before {
    color: #ff1a1a;
}
.reservation-details ul li:nth-child(2):before {
    color: rgba(41, 180, 178, 0.5);
}
.reservation-details ul li:last-child:before {
    color: rgba(41, 180, 178, 0.15);
}

#packages-page {
    padding-top: 0;
}
.service-title {
    margin: 0 auto;
}
.service-modal-body {
  padding: 0 100px !important;
}
.service-modal-img {
    padding: 50px 0 !important;
}
.service-modal-img img {
    width: 100%;
    height: 505px;
    background-size: cover;
    background-position: center center;
}
.gallery-wrap img{
    height: 450px;
}
.modal.show .modal-dialog {
    max-width: 1200px;
}
.modal-content {
    width: 100%;
}
.modal-img {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}
.modal-body {
    padding: 50px;
}

.block {
    position: fixed;
}

.block {
    position: fixed;
    background: #2184cd;
    color: #fff;
    padding: 20px;
    width: 400px;
}

.contact-food {
    margin-top: 50px !important;
}
.feedback-option {
    margin-top: 50px;   
    border: 1px solid #E0E0E0;
    padding: 50px;
    border-radius: 10px;
    background-color: #EDECEC;
}


.reference-info {
    padding: 0 150px;
}
#error-items {
    margin: 0;
}
.error-msg {
    width: 100%;
    padding: 0;
}
.error-msg h4 {
    font-weight: 700;
}
.error-msg h4:before {
    font-family: FontAwesome;
    content: '\f071';
    margin: 0 15px 0 20px;
}
.error-msg ul li {
    list-style: none;
}
.error-msg li {
    padding-left: 30px;
}
.error-msg li:before {
    font-family: FontAwesome;
    content: '\f105';
    margin-right: 10px;
}


/* Packages */
.packages-info {
    width: 85%;
    margin: 0 auto;
}
.packages-info .row {
    margin: 0 30px;
}
.packages-list b {
  font-size: 20px;
  text-transform: uppercase;
}
.packages-list b:before {
    font-family: FontAwesome;
    content: '\f466';
    font-size: 18px;
    padding-right: 10px;
}
.packages-list u {
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 900;
}
.packages-list ul {
  padding-left: 40px;
}
.packages-list li {
  list-style: square;
}
.packages-list li label{
  margin-bottom: 0;
  letter-spacing: 1.5px;
}


#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}

.green{
  background-color:#6fb936;
}
.thumb{
    margin-bottom: 30px;
}

.page-top{
    padding: 60px 40px;
}
.page-top .row {
    width: 85%;
    margin: 0 auto;
}

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.page-top {
/*    padding: 100px 0;*/
    background-color: #f0f0f0;
}
.amenities-container {
    padding: 50px 0;
}
.amenities-container .row {
    width: 80%;
    margin: 0 auto;
}
.amenities-container li {
    list-style: square;
}


.package-desc:hover {
    color: #29b4b2 !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0 !important;
}

.comp-packages {
    background-color: #fff;
}
.comp-packages img {
    height: 50%;
}
.packages-modal-body {
    padding: 20px 40px !important;
}
.packages-modal-body h4 {
    padding-top: 20px;
    color: #29b4b2 !important;
}
