.foods {
    margin-bottom: 50px;
    padding: 50px 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    background: #f0f0f0;
}
.foods .entry-header {
    margin-top: 0;
    margin-bottom: 25px;
}
.foods section {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40px;
    padding: 0;
}
.entry-header {
    text-align: center;
}
.da-thumbs {
    list-style: none;
    width: 100%;
    height: 600px;
    position: relative;
    margin: 20px auto;
    padding: 0;
}
.da-thumbs a {
    transition: .3s ease-in;
}
.da-thumbs .service-desc {
    display: none;
    color: #ffffff;
    background: rgba(0,0,0,0.7);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 30% 20px;
    z-index: 10;
    position: absolute;
    top: 0;
}

.da-thumbs a:hover .service-desc {
    display: block;
    z-index: 10;
}
.foods .row .col {
    float: left;
    width: 30%;
    padding: 15px 15px;
    list-style: none;
}
.da-thumbs li {
    float: left;
    margin: 5px;
    background: #fff;
    padding: 8px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a, .da-thumbs li a img {
    display: block;
    position: relative;
}   

/*
Reservation
*/
.reservation-details ul {
    list-style: none;
}
.reservation-details ul li:first-child:before,
.reservation-details ul li:nth-child(2):before,
.reservation-details ul li:last-child:before{
    font-family: FontAwesome;
    content: '\f0c8';
    font-size: 20px;
    padding-right: 8px;
}
.reservation-details ul li:first-child:before {
    color: #ff1a1a;
}
.reservation-details ul li:nth-child(2):before {
    color: #1a1aff;
}
.reservation-details ul li:last-child:before {
    color: #00ff00;
}