body, html {
  height: 100%;
  min-height: 100%;
}

body#login {
  background: url('../img/image-7.jpg') no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
}

#admin-login #login-logo {
  display: block;
  margin-top: 50px;
  text-align: center;
}

#admin-login #login-form {
  margin-top: 50px;
  padding: 70px 70px;
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  color: #fff;
}

#admin-login #login-form h3 {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.package-no .package-menu {
  margin: 0;
  padding: 0;
}

.package-no .package-menu li {
  width: 100%;
  list-style: none;
}

.package-no .package-menu li form label {
  display: inline-block;
  width: 80%;
  margin: 5px 0;
}

.package-no .package-menu li form .delete-menu {
  height: 30px;
  line-height: 0;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 9999;
  /* makes sure it stays on top */
}

#status {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 48%;
  /* centers the loading animation horizontally one the screen */
  top: 44%;
  /* centers the loading animation vertically one the screen */
  background-image: url('../../images/preload-admin.gif');
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

.default-btn {
  width: 100%;
}

.cms-title {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
}

.ck-editor .ck-content {
  height: 350px;
}

.copyright {
  margin-top: 80px;
}

.event-modal .modal-dialog{
  max-width: 800px;
}

.modal textarea {
  width: 100%;
  height: 150px;
  padding: 8px 8px;
  resize: none;
}