/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 9999;
    /* makes sure it stays on top */
}

#status {
    width: 256px;
    height: 256px;
    position: absolute;
    left: 48%;
    /* centers the loading animation horizontally one the screen */
    top: 44%;
    /* centers the loading animation vertically one the screen */
    background-image: url('../../images/preload-admin.gif');
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

.default-btn {
    width: 100%;
}

.cms-title {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}

.ck-editor .ck-content {
    height: 350px;
}